.navBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 200px;
	width: 100%;
	padding: 14px 12px 14px 32px;
	background-color: var(--not-active-nav);
	border: none;
	font-size: 18px;
	color: var(--light-grey);
	cursor: pointer;
}


.active {
	background-color: var(--black)
}


.notactive {
	background-color: var(--not-active-nav);
}

.closeIcon {
	width: 24px;
	height: 24px;
}


@media(max-width:1024px) {
	.navBtn {
		max-width: 120px;
		font-size: 14px;
		padding: 12px;
	}

	.closeIcon {
		width: 14px;
		height: 14px;
	}
}


@media(max-width: 590px) {
	.navBtn {
		max-width: 120px;
		font-size: 14px;
		padding: 12px;
	}

}